.container {
    width: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.container:hover img {
    scale: 1.15;
}

.container img {
    width: 100%;
    scale: 1.09;
    transition: scale 0.5s ease;
}

.titleContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 16px 0px;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white) !important;
}

.title {
    text-decoration: none;
    color: var(--white);
}

.title:hover {
    text-decoration: underline;
}

.divider {
    width: 1px;
    background-color: var(--white);
}
