:root {
    --dark-gray: #666768;
    --teal: #6b7998;
    --light-gray: #e9e9e9;
    --white-smoke: #f7f6f6;
    --darker-gray: #626160;
    --white: #ffffff;
    --semi-gray: rgba(107, 121, 152, 0.2);
    --border-gray: rgba(191, 191, 191, 0.7);
    --brand-blue: #4361ee;
    --dark-teal: #5b6987;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}
