.main > div {
    width: 100%;
}

.header {
    background-image: url("/assets/bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9.375rem;
}

.logo {
    width: 44.125rem;
    height: fit-content;
}

.headerText {
    width: 28.75rem;
    height: fit-content;
    margin-top: 1.125rem;
}

.content {
    padding: 42px 150px;
}

.titledImages {
    margin-top: 40px;
    display: flex;
    gap: 2rem;
    overflow: hidden;
}
