.main > div {
    width: 100%;
}

.header {
    background-image: url("/assets/bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9.375rem;
}

.logo {
    max-width: 44.125rem;
    width: 80%;
    height: fit-content;
}

.headerText {
    max-width: 28.75rem;
    width: 60%;
    height: fit-content;
    margin-top: 1.125rem;
}

.content {
    padding: 42px 150px;
}

@media screen and (max-width: 1024px) {
    .content {
        padding: 42px 120px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 42px 75px;
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding: 42px 25px;
    }
}

.titledImages {
    margin-top: 40px;
    display: flex;
    gap: 2rem;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .titledImages {
        flex-direction: column;
        gap: 40px;
    }
}
